#container{
  width: 1100px;
  margin: auto;
}

header, footer{
  height: 50px;
  width: 100%;
  line-height: 50px;
  background: #cecece;
  text-align: center;
}

main > * {
  float: left;
  width: 33.333%;
}

main::after{
  clear: both;
  display: table;
  content: '';
}

*{
  box-sizing: border-box;
  margin: 0;
}
